<div class="jumbo">
	<div class="right tomster"></div>
	<h2>Acerca de SolucionesRM</h2>
	<p>
		Una alternativa para aquellos que quieran arreglar o comprar su auto. Nosotros le damos un empujón.
	</p>
	{{#link-to "contact" class="button"}}
	Contáctanos
	{{/link-to}}
</div>