<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Bienvenido!</h2>
  <p>Esperamos que esta página sea de ayuda para conseguir tu auto usado o arreglar el que ya tienes.</p>
  {{#link-to "about" class="button"}}
    Acerca de nosotros
  {{/link-to}}
</div>
{{#each model as |car|}}
  <article class="listing">
    <h3>{{car.title}}</h3>
    <div class="detail year">
      <span>Año:</span> {{car.year}}
    </div>
    <div class="detail description">
      <span>Descripción:</span> 
      <br>
      {{car.description}}
    </div>
    <div class="detail image">
      <img src="{{car.image}}">
    </div>
  </article>
{{/each}}