<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contáctanos</h2>
  <p>
    SolucionesRM
  </p>
  <address>
    La Fortuna de San Carlos
    <p>
      200 metros de la parada  de autobuses<br>
      Avenida 3
    </p>
    <a href="">+ (506) 84146062</a><br>
    <a href="mailto:superrentalsrep@emberjs.com">solucionesrm@gmail.com</a>
  </address>
  <br>
  {{#link-to "about" class="button"}}
    About
  {{/link-to}}
</div>